@model IEnumerable<LibraryDomain.Model.Genre>

@{
    ViewData["Title"] = "Бібліотека";
}

<h1>Перелік жанрів</h1>

<p>
    <a asp-action="Create">Додати новий жанр</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GenreId">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.GenreId">Детальніше</a> |
                <a asp-action="Delete" asp-route-id="@item.GenreId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
